*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    @include respons_max(68.75em){
        font-size: 50%;
    }
    scroll-behavior: smooth;
}
