$row_width: 114rem;
$gutter: 3rem;
$margin_size_horizental: 3rem;
$margin_size_vertical: 3vh;
$padding_size_horizental: 1rem;
$padding_size_vertical: 3vh;
// colors
$bg_dark_blue: #361999;
$bg_red: #FF4838;
$bg_light-green: #05F4B7;
$bg_blue: #00ABE1;
$bg_gray:#F7F7F7;
$bg_orange:#f1710e;
$bg_dark: #181818;
$bg_dark-purple: #051622;
$bg_light_dark: #144f5d;